---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, I'm Maxton.</h1>
			<p>
				I am an Aerospace and Space Systems Engineer passionate about designing solutions for extreme environments, from deep space to the open water. 
			</p>
			<p>
				This site serves as a digital portfolio of my engineering work. You can explore my <a href="/projects">primary projects</a>, where I detail my technical experience with things like asymmetric carbon fiber structures, spacecraft control dynamics, and custom fly-by-wire systems.
			</p>
			<p>
				To see how my engineering journey has evolved over time, you can view a <a href="/timeline">timeline of my track record and achievements</a>. This maps my progression from engineering Java control systems for robotics teams all the way to designing and building the custom rowboat I used to navigate 600 miles across Lake Superior.
			</p>
		</main>
		<Footer />
	</body>
</html>
